:root {
    --background-color: #D1D5DE;
    --darker-background: #B7B6C2;
    --secondary-1: #94b284;
    --secondary-2: #8AAA79;
    --secondary-3: #728457;
    --dark-text: #2b3124;
}

@font-face {
    font-family: DM_Serif;
    src: url(fonts/DM_Serif_Text/DMSerifText-Regular.ttf);
}

body {
    background-color: var(--background-color);
    font-family: DM_Serif;
    margin: 0px;
    color: var(--dark-text);
    height: 0px;
}

h1 {
    
    margin: 0px;
    padding: 12px;
}

#title {
    padding-left: 56px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.banner {
    background-color: var(--secondary-1);
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    order: 1;
}

.banner-buttons {
    background-color: var(--secondary-3);
    display: flex;
    justify-content: space-between;
    padding: 12px, 0px, 12px, 0px, ;
}

.navigation-buttons{
    display: flex;
    justify-content: space-around;
}

button {
    font-family: DM_Serif;
}

.invisible-link{
    color: var(--dark-text);
    text-decoration: none;
}

a {
    padding: 18px;
    display: inline-block;
}

a:hover {
    background-color: var(--secondary-1);
}

a[data-on-page=true]{
    background-color: var(--secondary-2);
}

.theme-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px;
    gap: 12px;
}

select, button{
    background-color: white;
    font-family: DM_Serif;
    padding: 6px;
    border-radius: 12px; 
    border-width: 1px;
    border-color: var(--dark-text); 
    border-style: none;
}

#regenerate {
    padding: 10px;
    margin: 12px;
}

#page {
    position: relative;
    top: 150px;
    margin: 0px 80px 80px 80px;
    z-index: -1;
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#image-div {
    position: relative;
    width: 350px;
    height: auto;

}

#random {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.heart {
    position: relative;
    left: 70px;
    bottom: 90px;
    width: 30px;
    height: auto;
}

.heart:hover {
    left: 70px;
    bottom: 93px;
    width: 35px;
    height: auto;
}

/* gallery specific */

#gallery {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery_card {
    background-color: white;
    height: 300px;
    width: 180px;
    padding: 20px;
    margin: 20px;
}

.image_gallery_card {
    width: 180px;
    height: 180px;
}

.image-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    width: 180px;
    word-wrap: break-word;
}

.image-div {
    height: 50px;
}