:root {
    --background-color: #D1D5DE;
    --darker-background: #B7B6C2;
    --secondary-1: #94b284;
    --secondary-2: #8AAA79;
    --secondary-3: #728457;
    --dark-text: #2b3124;
}

@font-face {
    font-family: DM_Serif;
    src: url(fonts/DM_Serif_Text/DMSerifText-Regular.ttf);
}

body {
    background-color: var(--background-color);
    font-family: DM_Serif;
    margin: 0px;
    color: var(--dark-text);
}

h1 {
    
    margin: 0px;
    padding: 12px;
}

#title {
    padding-left: 56px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.banner {
    background-color: var(--secondary-1);
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    order: 1;
}

.banner-buttons {
    background-color: var(--secondary-3);
    display: flex;
    justify-content: space-between;
    padding: 12px, 0px, 12px, 0px, ;
}

.navigation-buttons{
    display: flex;
    justify-content: space-around;
}

button {
    font-family: DM_Serif;
}

.invisible-link{
    color: var(--dark-text);
    text-decoration: none;
}

a {
    padding: 18px;
    display: inline-block;
}

a:hover {
    background-color: var(--secondary-1);
}

a[data-on-page=true]{
    background-color: var(--secondary-2);
}

.theme-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px;
    gap: 12px;
}

select {
    background-color: white;
    font-family: DM_Serif;
    padding: 6px;
    border-radius: 12px;
    border-color: var(--dark-text);
}

#page {
    position: relative;
    top: 130px;
    margin: 0px 80px 80px 80px;
    z-index: -1;
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#image-div {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#random {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#heart {
    position: absolute;
    right: 36%;
    bottom: 4%;
    width: 4%;
    height: auto;
}

#heart:hover {
    right: 35%;
    bottom: 2%;
    width: 6%;
    height: auto;
}