:root {
    --background-color: #D1D5DE;
    --darker-background: #B7B6C2;
    --secondary-1: #94b284;
    --secondary-2: #8AAA79;
    --secondary-3: #728457;
    --dark-text: #2b3124;
}

@font-face {
    font-family: DM_Serif;
    src: url(fonts/DM_Serif_Text/DMSerifText-Regular.ttf);
}

body {
    background-color: var(--background-color);
    font-family: DM_Serif;
    margin: 0px;
    color: var(--dark-text);
    z-index: -5;
    height: 0px;
}

h1 {
    
    margin: 0px;
    padding: 12px;
}

#title {
    padding-left: 56px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.banner {
    background-color: var(--secondary-1);
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    order: 1;
}

.banner-buttons {
    background-color: var(--secondary-3);
    display: flex;
    justify-content: space-between;
    padding: 12px, 0px, 12px, 0px, ;
}

.navigation-buttons{
    display: flex;
    justify-content: space-around;
}

button, input {
    font-family: DM_Serif;
}

input {
    width: 40px;
}

.invisible-link{
    color: var(--dark-text);
    text-decoration: none;
}

a {
    padding: 18px;
    display: inline-block;
}

a:hover {
    background-color: var(--secondary-1);
}

a,div[data-on-page=true]{
    padding: 18px;
    background-color: var(--secondary-2);
}

a,div[data-on-page=false]{
    padding: 18px;
    background-color: var(--secondary-2-5);
}

.theme-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px;
    gap: 12px;
}

select, button, input{
    background-color: white;
    font-family: DM_Serif;
    padding: 6px;
    border-radius: 12px; 
    border-width: 1px;
    border-color: var(--dark-text); 
    border-style: none;
}

#regenerate {
    padding: 10px;
    margin: 12px;
}

#page {
    position: relative;
    top: 130px;
    margin: 0px 80px 80px 80px;
    z-index: -1;
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#image-div {
    position: relative;
    width: 350px;
    height: auto;
}

#image-link {
    max-width: 350px;
    overflow:visible;
}

.picture-links {
    justify-content: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

    margin: 12px;
}

#api-link {
    /* height: 100px; */
    width: 200px;
    /* min-width: 300px; */
    overflow: auto;
    word-wrap: break-word;

}

#image-link {
    /* height: 300px; */
    width: 200px;
    /* min-width: 300px; */
    overflow: auto;
    word-wrap: break-word;
}

#link-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    bottom: -150px;
    left: 0px;
    margin-left: 30px;
    margin-bottom: 350px;
    width: 200px;
    height: auto;
}

#random {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#heart {
    position: absolute;
    right: 12px;
    bottom: 15px;
    width: 9%;
    height: auto;
    z-index: 2;
}

#heart:hover {
    right: 9px;
    bottom: 12px;
    width: 10.5%;
    height: auto;
}
